@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
.imagens img{
    margin-top: 5%;
    width:100%;
    height:300px;
}

.conteudo{
    padding:20px;
}

.conteudo img{
    width:100%;
    height:350px;
}

.texto{
    padding:20px;
}

.mapa iframe{
    width:auto;
    height:200px;
}

.sociais img{
    width: 50px;
    height: 50px;
}

.sociais{
    padding: 20px;
}

.tela img{
    width:auto;
    height:600px;
}

.img-fuid{
    width: 150px;
    height: 150px;
}

.container-fluid{
    margin-top: 5%;
}

.container-fluid h1{
    font-family: 'Reem Kufi Fun', sans-serif;
}

.img-fluid{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}

.spin-text{
    margin-top: 30px;
    font-size: 20px;
    text-align: justify;
}
.card{
    margin: 15px;
    border-color: rgb(15, 15, 68);
    
}

.card-text{
    color: rgb(22, 11, 167);
}

.h3{
    color: blueviolet;
}

.footer{
    background: rgba(49, 104, 129, 0.849);
    border-top: 1px dotted rgb(6, 6, 7);
}

.sociais{
    background: rgb(44, 2, 75);
    font-size: 40px;
    padding: 25px;
    border-top: 2px dotted rgb(6, 6, 7);
}

.sociais a{
    display: inline-flex;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: rgb(211, 102, 165);
    color: white;
    margin: 0 6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 25px;
}

.sociais a:hover {
    background: #77326e;
}

.sociais a i {
    transition: 0.4s all;
}

.sociais a:hover > i {
    transform: scale(1.5) rotate(15deg);
}

